<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="container mt-5">
      <h1>Welcome to our app</h1>
      <form action="/register" method="POST">

        <div class="mb-3">
          <label for="fullname" class="form-label">Full name</label>
          <input type="text" class="form-control" id="fullname" aria-describedby="fullname field" name="fullname">
          <% if (errors && errors.fullname) { %>
            <div class="alert alert-danger" role="alert">
           <%= errors.fullname %>
          <% } %>
        </div>
        

        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="email field" name="email">
          <% if (errors && errors.email) { %>
            <div class="alert alert-danger" role="alert">
           <%= errors.email %>
          <% } %>
        </div>
       
        

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" aria-describedby="password field" name="password">
          <% if (errors && errors.password) { %>
            <div class="alert alert-danger" role="alert">
           <%= errors.password %>
          <% } %>
        </div>
        

        <div class="mb-3">
          <label for="cpassword" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="cpassword" aria-describedby="confirm password field" name="confirm-password">
        </div>

        <!-- <div class="mb-3">
          <label for="dp" class="form-label">Select file</label>
          <input type="file" class="form-control" id="dp" aria-describedby="">
        </div> -->

        <button class="btn btn-primary">Register</button>
      </form>
    </div>


    <script src="./script/regForm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>